.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  width: 350px;
  padding: 15px;
}

.button {
  margin-right: 15px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.statList {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  list-style: none;
}

.statListItem {
  margin-bottom: 10px;
  font-weight: 500;
}
